/* --========================================================================================================-- */
/* --===============                             Página de Início                              ==============-- */
/* --========================================================================================================-- */

/* --========================================================================================================-- */
/* Página */
.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
}

/* Inicio da página */
.inicio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;

    & .banner {
        width: 100%;
        height: 83vh;

        filter: brightness(85%);

        object-fit: contain;
    }
}

.line-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0;

    & .hr-1 {
        width: 70%;
        height: .35px;
        background: #46464659;
    }
}

/* Apresentação do site */
.sobre {
    width: 100%;
    max-width: 1050px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.5px;

    & .b-content {
        width: 34%;
        height: 180px;

        background-color: #131313;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px;
        gap: 23px;

        cursor: pointer;
        transition: all .2s ease-out;

        animation: aparecer 1s ease-in-out;

        & i {
            font-size: 29pt;
            opacity: .8;
            color: #cecece;
            transition: all .5s ease-out;
        }

        & hr {
            width: 1px;
            height: 75%;
            background-color: #61616159;
        }

        & .b-text {
            width: 60%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;

            & h1 {
                font-size: 16px;
                color: var(--cor-t-lvl-01);
                font-weight: 600;
            }

            & p {
                font-size: 15px;
                color: var(--cor-t-lvl-02);
                font-weight: 400;
            }
        }

        &:hover {
            background-color: #0f0f0f;
            transition: all .2s ease-in;
        }

        &:hover .icon-a {
            opacity: 1;
            color: #cc01ff;
            text-shadow: 0 0 10px #740091;
            transition: all .3s ease-in;
        }

        &:hover .icon-b {
            opacity: 1;
            color: #cc01ff;
            text-shadow: 0 0 10px #740091;
            transition: all .3s ease-in;
        }

        &:hover .icon-c {
            opacity: 1;
            color: #cc01ff;
            text-shadow: 0 0 10px #740091;
            transition: all .3s ease-in;
        }
    }
}

.sobre :nth-child(2) {
    transition-delay: 700ms;
}

.sobre :nth-child(3) {
    transition-delay: 1400ms;
}

.line-2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;

    & .hr-2 {
        width: 70%;
        height: .35px;
        background-color: #61616159;
        border-radius: 10px;
    }
}

.albuns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;

    & .superior {
        width: 1165px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .title-s, .title-a {
            font-size: 17px;
            font-weight: bold;
        }

        & .all-s, .all-a {
            font-size: 16px;
            font-weight: 500;
            color: #6e6e6e;
            transition: all .25s ease-out;

            &:hover {
                color: #bebebe;
                text-decoration: underline;
                transition: all .25s ease-in;
            }
        }
    }

    & .cards {
        width: 1185px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2.5px;

        & .c-card {
            width: 192px;
            height: auto;
            padding: 10px 0;
            border-radius: 3px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .15s ease-out;
            gap: 6px;
            background-color: #13131300;

            &:hover {
                background: #72727246;
                transition: all .15s ease-in;
            }

            & img {
                width: 165px;
                height: 165px;
                border-radius: 7px;
                box-shadow: 0 0 15px black;
                filter: saturate(1.5) brightness(95%);
            }

            & .text {
                width: 153px;
                height: auto;
                padding-top: 10px;
                border-radius: 6.3px;
                margin-left: 0;
            }

            & .c-title {
                font-size: 12pt;
                font-weight: 700;
                color: var(--cor-01-r);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & .c-artist {
                font-size: 10pt;
                font-weight: 500;
                color: #e6e6e6;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & .c-designation {
                font-size: 9.7pt;
                font-weight: 500;
                color: #b6b6b6;
                transition: .25s ease-out;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

.musicas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;

    & .superior {
        width: 1165px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .title-s, .title-a {
            font-size: 17px;
            font-weight: bold;
        }

        & .all-s, .all-a {
            font-size: 16px;
            font-weight: 500;
            color: #6e6e6e;
            transition: all .25s ease-out;

            &:hover {
                color: #bebebe;
                text-decoration: underline;
                transition: all .25s ease-in;
            }
        }
    }

    & .carousel-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    & .carousel {
        width: 1167px;
        overflow: hidden;
        
    }
    
    & .carousel-track {
        display: flex;
        transition: transform 0.3s ease-in-out;
        gap: 2.5px;
        margin-left: 3px;

        & .c-card {
            width: 192px;
            height: auto;
            padding: 7px 12px;
            border-radius: 3px;
            transition: .25s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .15s ease-out;
            background-color: #13131300;
            gap: 3px;

            &:hover {
                background: #72727246;
                transition: all .15s ease-in;
            }

            & img {
                width: 165px;
                height: 165px;
                border-radius: 7px;
                box-shadow: 0 0 15px black;
                filter: saturate(1.5) brightness(95%);
            }

            & .text {
                width: 153px;
                height: auto;
                padding-top: 10px;
                border-radius: 6.3px;
                margin-left: 0;
            }

            & .c-title {
                font-size: 12pt;
                font-weight: 700;
                color: var(--cor-01-r);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & .c-artist {
                font-size: 10pt;
                font-weight: 500;
                color: #e6e6e6;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & .c-designation {
                font-size: 9.7pt;
                font-weight: 500;
                color: #b6b6b6;
                transition: .25s ease-out;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            & .plataformas {
                width: 80%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 3px;
                background: #131313;
                border: 1px solid #2c2c2c;
                box-shadow: 0 0 5px #0000006c;
                border-radius: 8px;

                & .p {
                    width: 30px;
                    height: 30px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & .p:hover .i-spotify {
                    color: #00f100;
                    text-shadow: 0 0 10px #019201;
                    transition: all .3s ease-in;
                }

                & .p:hover .i-youtube {
                    color: #f10000;
                    text-shadow: 0 0 10px #920101;
                    transition: all .3s ease-in;
                }

                & .p:hover .i-apple {
                    color: #ffffff;
                    text-shadow: 0 0 10px #d6d6d6;
                    transition: all .3s ease-in;
                }

                & i {
                    color: #868686;
                    font-size: 17pt;
                    transition: all .3s ease-out;
                }
            }
        }
    }
}

.line-3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;

    & .hr-3 {
        width: 70%;
        height: .35px;
        background-color: #61616159;
        border-radius: 10px;
    }
}

.frase {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    & h1 {
        font-size: 18pt;
        font-family: "Pacifico", cursive;
        color: #e7e7e7;
        text-shadow: 5px 1px 50px #fff;
    }

    & p {
        color: #cc01ff;
        font-weight: 600;
        margin-left: 350px;
    }
}

.arrow {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

.arrow[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.albuns {
    padding-bottom: 85px;
}

/* --========================================================================================================-- */
/* --=====================           Parece que chegou ao fim não esquece o ;           =====================-- */
/* --========================================================================================================-- */
