<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título -->
    <title>AboutSongs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../Assets/Images/favicon.png" type="image/x-icon">

    <!-- Links CSS/Font -->
    <link rel="stylesheet" href="../Assets/CSS/Styles/AbaMusicAlbum.css">
    <link rel="stylesheet" href="../Assets/CSS/Global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>
    <!-- Fundo -->
    <div class="stars"></div>
    <div class="stars2"></div>

    <!-- Cabeçalho -->
    <header class="cabecalho">
        <!-- Conteúdo principal do cabeçalho -->
        <a href="./PageHome.html"><img class="h-logo" src="../Assets/Images/logo-home.png" alt="Logo do site"></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="./AbaMusicAlbum.html">Músicas</a></li>
                <li><a href="./AbaMusicAlbum.html">Álbuns</a></li>
                <li><a href="./AbaFavorites.html">Favoritos</a></li>
                <li><a href="./AbaSobreCon.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <!-- Página -->
    <main class="page">
        <section class="hidden filter">
            <div class="filtering">
                <button>HipHop</button>
                <button>Pop</button>
                <button>Eletrônica</button>
                <button>Rock</button>
                <button>Funk</button>
            </div>
            <div class="search">
                <div class="icon-search"></div>
                <div class="input">
                    <input type="text" placeholder="Pesquise por." id="mysearch">
                </div>
                <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
            </div>
        </section>

        <section class="hidden musicas">
            <h1 class="title-s">Músicas/Álbuns</h1>
            <div class="cards">
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
                <a href="PageAlbum.html">
                    <div class="c-card">
                        <img src="../Assets/Images/albuns/v2.jpeg" alt="">
                        <div class="text">
                            <h1 class="c-title">VULTURES 2</h2>
                                <h2 class="c-artist">Kanye West, Ty Dolla $ign</h2>
                                <p class="c-designation">Album</p>
                        </div>
                        <div class="plataformas">
                            <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                            <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </section>
    </main>

    <!-- Perfil -->
    <a href="./PagePerfil.html" class="perfil">
        <img class="img-perfil" src="../Assets/Images/albuns/v2.jpeg" alt="Imagem de Perfl">
    </a>

    <!-- Botão de voltar ao topo -->
    <button id="topButton" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>

    <!-- Link JS -->
    <script src="../Assets/JS/scripts.js"></script>
    <script src="../Assets/JS/top-btn.js"></script>

    <script>
        const icon = document.querySelector('.icon-search');
        const search = document.querySelector('.search');
        icon.onclick = function () {
            search.classList.toggle('active')
        }
    </script>
</body>

</html>