<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título -->
    <title>AboutSongs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../Assets/Images/favicon.png" type="image/x-icon">

    <!-- Links CSS/Font -->
    <link rel="stylesheet" href="../Assets/CSS/Styles/AbaSobreCon.css">
    <link rel="stylesheet" href="../Assets/CSS/Global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <!-- Fundo -->
    <div class="stars"></div>
    <div class="stars2"></div>

    <!-- Cabeçalho -->
    <header class="cabecalho">
        <!-- Conteúdo principal do cabeçalho -->
        <a href="./PageHome.html"><img class="h-logo" src="../Assets/Images/logo-home.png" alt="Logo do site"></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="./AbaMusicAlbum.html">Músicas</a></li>
                <li><a href="./AbaMusicAlbum.html">Álbuns</a></li>
                <li><a href="./AbaFavorites.html">Favoritos</a></li>
                <li><a href="./AbaSobreCon.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <!-- Página -->
    <main class="page">
        <section class="inicio" id="home">
            <img class="banner" src="../Assets/Images/about.png" alt="">
        </section>

        <section class="hidden s-first" id="first">
            <div class="texts">
                <h1 class="t-first">Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                <p class="text-first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi pariatur aliquid mollitia explicabo hic est, id labore eius tenetur quos suscipit iure doloribus praesentium expedita officiis autem voluptates dolores esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem doloribus nisi amet, cumque magnam delectus iure eligendi nam, ab culpa, laborum omnis? At necessitatibus minus dolor reprehenderit expedita ut nostrum?</p>
            </div>
            <div class="img">
                <img src="../Assets/Images/albuns/333.jpeg" alt="" class="imagem-i">
            </div>
        </section>

        <section class="hidden s-second" id="second">
            <div class="img">
                <img src="../Assets/Images/albuns/ye_.jpg" alt="" class="imagem-i">
            </div>
            <div class="texts">
                <h1 class="t-second">Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                <p class="text-second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi pariatur aliquid mollitia explicabo hic est, id labore eius tenetur quos suscipit iure doloribus praesentium expedita officiis autem voluptates dolores esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem doloribus nisi amet, cumque magnam delectus iure eligendi nam, ab culpa, laborum omnis? At necessitatibus minus dolor reprehenderit expedita ut nostrum?</p>
            </div>
        </section>

        <section class="hidden s-third" id="third">
            <div class="texts">
                <h1 class="t-third">Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                <p class="text-third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis enim porro debitis qui eum, eveniet, velit aliquid doloremque adipisci in dolores ipsa odit cupiditate corrupti sequi amet omnis inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem doloribus nisi amet, cumque magnam delectus iure eligendi nam, ab culpa, laborum omnis?</p>
            </div>
            <div class="img">
                <img src="../Assets/Images/aboutsong_.png" alt="" class="imagem-i">
            </div>
        </section>
    </main>

    <div class="line">
        <hr>
    </div>

    <footer class="r-contatos">
        <div class="emails">
            <div class="textos">
                <h1 class="t-contact">Contatos & Feedback</h1>
                <p class="text-c">Mande um feedback a nós copiando nossos email, ou enviando direto pela outra caixa de texto.</p>
            </div>

            <div class="copy">
                <div class="copy-email-b">
                    <input type="text" class="text" value="brunobrunelli4@gmail.com" readonly>
                    <button id="btn-1">
                        <i class="fa-regular fa-copy"></i>
                    </button>
                </div>
                <div class="copy-email-g">
                    <input type="text" class="text" value="guilherme19.b07@gmail.com" readonly>
                    <button id="btn-2">
                        <i class="fa-regular fa-copy"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="feedback">
            <form action="https://formsubmit.co/brunobrunelli4@gmail.com" method="post">
                <h2>Nome:</h2>
                <input class="name" type="text" name="name" required />
                <h2>Email:</h2>
                <input class="email" type="email" name="email" required />
                <h2>Mensagem:</h2>
                <textarea class="texto" name="message"></textarea>
                <button class="enviar" type="submit">Enviar</button>
            </form>
        </div>
    </footer>

    <!-- Perfil -->
    <a href="./PagePerfil.html" class="perfil">
        <img class="img-perfil" src="../Assets/Images/albuns/v2.jpeg" alt="Imagem de Perfl">
    </a>

    <!-- Botão de voltar ao topo -->
    <button id="topButton" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>

    <!-- Link JS -->
    <script src="../Assets/JS/scripts.js"></script>
    <script src="../Assets/JS/top-btn.js"></script>

    <script>
        let copyText = document.querySelector(".copy-email-b");
        copyText.querySelector("#btn-1").addEventListener("click", function(){
            let input = copyText.querySelector("input.text");
            input.select();
            document.execCommand("copy");
            copyText.classList.add("active");
            window.getSelection().removeAllRanges();
            setTimeout(function(){
                copyText.classList.remove("active");
            }, 1500);
        })

        let copyText2 = document.querySelector(".copy-email-g");
        copyText2.querySelector("#btn-2").addEventListener("click", function(){
            let input = copyText2.querySelector("input.text");
            input.select();
            document.execCommand("copy");
            copyText2.classList.add("active");
            window.getSelection().removeAllRanges();
            setTimeout(function(){
                copyText2.classList.remove("active");
            }, 1500);
        })
    </script>
</body>

</html>