<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título -->
    <title>AboutSongs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../Assets/Images/favicon.png" type="image/x-icon">

    <!-- Links CSS/Font -->
    <link rel="stylesheet" href="../Assets/CSS/Styles/PagePerfil.css">
    <link rel="stylesheet" href="../Assets/CSS/Global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <!-- Fundo -->
    <div class="stars"></div>
    <div class="stars2"></div>

    <!-- Cabeçalho -->
    <header class="cabecalho">
        <!-- Conteúdo principal do cabeçalho -->
        <a href="./PageHome.html"><img class="h-logo" src="../Assets/Images/logo-home.png" alt="Logo do site"></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="./AbaMusicAlbum.html">Músicas</a></li>
                <li><a href="./AbaMusicAlbum.html">Álbuns</a></li>
                <li><a href="./AbaFavorites.html">Favoritos</a></li>
                <li><a href="./AbaSobreCon.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main class="page">
        <section id="about" class="hidden v-perfil">
            <div class="imagem-perfil">
                <i class="fa-solid fa-pen-to-square"></i>
                <img src="../Assets/Images/albuns/v2.jpeg" alt="" class="img-p">
            </div>
            <div class="infos">
                <div class="names">
                    <h1 class="n-perfil">Nome</h1>
                    <h2 class="data">Desde 21 de fevereiro de 2024</h2>
                </div>
            </div>
        </section>
    </main>

    <!-- Perfil -->
    <a href="#" class="perfil">
        <img class="img-perfil" src="../Assets/Images/albuns/v2.jpeg" alt="Imagem de Perfl">
    </a>

    <!-- Botão de voltar ao topo -->
    <button id="topButton" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>

    <!-- Link JS -->
    <script src="../Assets/JS/scripts.js"></script>
    <script src="../Assets/JS/top-btn.js"></script>
</body>

</html>